<div class="discuss" style="border-top:solid 1px;">
<ul style="list-style:none;padding:0;">
	<li><span>昵称：</span><%= comment.commenter %></li>
	<li><span>评论：</span><%= comment.body %></li>
	<li> <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %></li>
</ul>
</div>
